node_modules
.tmp
.cache
build
dist
.git
.gitignore
README.md
*.md
.env*
!.env.example
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
public/uploads/*
!public/uploads/.gitkeep
